.main-content {
  opacity: 0;
  overflow: hidden;
  animation: fade-in;
  animation-delay: 2.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.container-locale {
  @include display-flex-row-center;
  width: 100%;
  align-items: center;
  padding: $font-size-small 0;
  /*EDIT: Rather than trying to implement an inset box-shadow css trick to have the top shadow, I defined the background of the section as a linear gradient
  The gradient starts back on top (default, adding a 'deg' value could statrt it from the side or bottom -note for later-), then after 10% of the height,
  it displays the base background color, still darkened to adresss the specific looks of this box */
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    darken($color-background-primary, 10%) 5%
  );
  & input,
  i {
    margin: 0;
    font-size: $font-size-regular;
    @include desktop-only {
      @include font-size-margin($font-size-small, 0 * $font-size-small);
    }
  }
  & input {
    width: 30vw;
    @include desktop-only {
      width: 15vw;
    }
  }
}

.container-explore {
  @include display-flex-column-center;
  @include section-padding-standard($font-size_regular);
  background-color: $color-background-primary;
  z-index: $medium-index;
  @include desktop-only {
    /*@include section-padding-standard($font-size-small);*/
    padding: 0;
    width: 100%;
    height: 0vw;
    animation: 3s ease-in-out 4s forwards heighten-div;
    background-image: url("../../public/images/restaurants/oiseauBlancParis.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index: $minimum-index;
    overflow: hidden;
  }

  h2 {
    font-size: 1.5 * $font-size-regular;
    font-family: "Roboto-Bold";
    @include desktop-only {
      @include font-size-margin(2 * $font-size-small, 0.1 * $font-size-small);
      color: $color-text-light;
      text-shadow: 0 0 1.5 * $font-size-small black;
    }
  }
  p {
    font-size: $font-size-regular;
    font-family: "Roboto-Thin";
    @include desktop-only {
      @include font-size-margin($font-size-small, 0.1 * $font-size-small);
      font-family: "Roboto";
      color: $color-text-light;
      text-shadow: 0 0 1 * $font-size-small black;
    }
  }
}

.container-how-to-use {
  @include display-flex-column-center;
  @include section-padding-standard($font-size-regular);
  @include desktop-only {
    @include section-padding-standard($font-size-small);
    @include display-flex-row-wrap-center;
    padding: 0px;
    margin: $font-size-small 0;
    justify-content: flex-end;
    background-color: $color-secondary;
    flex-wrap: nowrap;
    width: 100%;
    transform: skewX(-20deg);
  }
  width: 100%;
  &__step-container {
    @include display-flex-row-center;
    width: 90vw;
    z-index: $maximum-index;
    @include desktop-only {
      /*box-shadow: 0 0.5vw 0.5vw darken($color-background-primary, 30%);*/
      box-shadow: none;
      border-radius: 0;
      width: 33%;

      height: 1.5 * $font-size-small;

      margin: 0;
      padding: 0;
      @include font-size-margin($font-size-small, 0 * $font-size-small);
      & > * {
        padding: 0vw;
      }
    }
    margin-top: $font-size-regular * 2;
    border-radius: $font-size-regular;
  }
  &__step-number {
    @include step-number-dimension(
      1.6 * $font-size-regular,
      1.5 * $font-size-regular
    );
    border-radius: 50%;
    background-color: $color-primary;
    z-index: $medium-index; /*so it displays above  step_content*/
    color: $color-text-light;
    @include desktop-only {
      @include step-number-dimension(
        3 * $font-size-small,
        1.5 * $font-size-small
      );
      border-radius: 0;
      margin-top: 0;
      background-color: $color-secondary;
    }
  }
  &__step-content {
    @include display-flex-row-start-padding-left;

    flex: 95vw;
    background-color: $color-background-primary;
    margin-left: -0.75 * $font-size-regular; /*so it goes below the number*/
    border-radius: $font-size-small;
    color: darken($color-background-primary, 30%);
    /*box-shadow: 0 0.5vw 0.5vw darken($color-background-primary, 30%);*/
    box-shadow: none;
    & > * {
      @include step-content-margin($font-size-regular);
    }

    @include desktop-only {
      height: 100%;
      border-radius: 0;
      /*transform: skewX(-10deg);*/
      margin-left: 0;
      padding-left: 1.5 * $font-size-small;
      padding-top: 0.5vw;
      width: 3.5vw;
      font-size: 0.85 * $font-size-small;
      align-content: center;
      & > * {
        @include step-content-margin(0);
      }
    }

    &:hover {
      animation: step-content-color 0.7s forwards;
      i {
        animation: step-content-color 0.7s forwards;
      }
    }

    p {
      color: black;
      font-weight: bold;
    }

    i {
      margin-top: 4.5vw;
      @include desktop-only {
        margin-top: 0.2vw;
        margin-right: 1vw;
      }
    }
  }

  h2 {
    text-align: left;
    width: 100%;
    margin-left: -1.2 * $font-size-regular;
    @include desktop-only {
      @include font-size-margin($font-size-small, 0.1 * $font-size-small);
      text-align: center;
      display: none;
    }
  }

  i {
    /*margin: $font-size-regular $font-size-regular $font-size-regular 0px;*/ /*this will ensure vertical alignment of the h2 title in the middle of the container*/
    /*font-size: $font-size-regular;*/
    color: darken($color-background-primary, 30%);
  }
}

.container-result-list {
  @include display-flex-column-center;
  @include section-padding-standard($font-size-regular);
  background-color: $color-background-primary;
  @include desktop-only {
    @include display-flex-row-wrap-center;
    width: 100%;
    height: 15vw;
    margin: 0;
    animation: 1s ease-in-out 3s forwards padding-top-to-0;
    padding: 15vw 0 0 0;
    /*justify-content: space-evenly;*/

    box-shadow: 0 1vw 1vw darken($color-background-primary, 20%);
    overflow: hidden;
  }

  &__result-container {
    position: relative; /*to enable absolute positionning of the favorite and new elements*/
    display: flex;
    flex-direction: column;
    margin: $font-size-regular;
    width: 90vw;
    @include desktop-only {
      margin: 0;
      padding: 0;
      border-radius: 0;
      box-shadow: 0 -1vw 1vw darken($color-background-primary, 20%);
    }
    & > * {
      font-size: $font-size-regular;
      border-radius: 0;
    }

    a {
      /*positionning the link above the whole result container with medium index*/
      width: 100%;
      height: 100%;
      z-index: $medium-index;
      position: absolute;
      top: 0vw;
      left: 0vw;
    }

    @include desktop-only {
      margin: 0;
      width: 25vw;

      & > * {
        font-size: $font-size-small;
        border-radius: 0;
      }
    }
  }
  &__result-img {
    object-fit: cover;
    width: 100%;
    height: 50vw;
    @include desktop-only {
      height: 10vw;
    }
  }
  &__result-labels-container {
    height: 20vw;
    border-radius: 0px 0px $font-size-regular $font-size-regular;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: $font-size-regular;
    background-color: white;
    box-shadow: 0 0.5 * $font-size-extra-small 0.5 * $font-size-extra-small
      darken($color-background-primary, 30%);
    @include desktop-only {
      height: 5vw;
      padding-left: $font-size-small;
      border-radius: 0;
      box-shadow: none;
      & > * {
        font-size: 0.7 * $font-size-small;
      }
    }
  }
  &__result-name {
    font-weight: bold;
    height: 25%;
    margin: 1 * $font-size-regular 0;
    @include desktop-only {
      margin: 0.3 * $font-size-small 0;
    }
  }
  &__result-location {
    height: 25%;
  }

  &__new-label {
    @include position-absolute-top-right(4vw, 2vw, $medium-index);
    background-color: $color-background-new-label;
    color: $color-new-label;
    border-radius: 5%;
    padding: 1vw;
    @include desktop-only {
      @include position-absolute-top-right(1vw, 1vw, $medium-index);
      @include font-size-margin(
        $font-size-extra-small,
        0.05 * $font-size-small
      );
      padding: 0.2vw;
    }
  }

  @include heart-filling-effect(55vw, 5vw, 11.5vw, 3vw);

  h2 {
    padding-left: 2vw;
    text-align: left;
    width: 95%;
    @include desktop-only {
      display: none;
    }
  }

  p {
    font-size: $font-size-regular;
    font-family: "Roboto-Thin";
  }
  a {
    text-decoration: none;
    color: black;
  }
}
