.footer {
  background-color: darken($color-background-primary, 80%);
  padding: 2 * $font-size_regular;
  @include desktop-only {
    @include desktop-font-size-margin(0);
    @include display-flex-column-center;
    padding: $font-size_small 0 3 * $font-size_regular 0;
    flex-direction: row;
    justify-content: space-evenly;
  }
  width: 100%;
  * {
    color: white;
  }
  h2 {
    font-size: 1.2 * $font-size-regular;
    @include desktop-only {
      display: none;
    }
  }
  &__link-container {
    display: flex;
    width: max-content;
    padding-top: 0.8 * $font-size-extra-small;
    align-items: center;
  }
  i {
    width: 2 * $font-size-small;
  }
}
