.header {
  @include display-flex-row-center;
  position: relative;
}

.header a {
  padding-top: $font-size-regular;
  left: 0;
  position: absolute;
  left: 1.5 * $font-size-regular;
  @include desktop-only {
    padding-top: $font-size-small;
    font-size: $font-size-small;
  }
}
