@font-face {
  font-family: "Roboto";
  src: url(../../public/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../../public/font/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../../public/font/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Shrikhand";
  src: url(../../public/font/Shrikhand-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

button {
  text-decoration: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}
