body {
  font-family: "Roboto", sans-serif;
  color: $color-text;
  font-size: $font-size-regular;
}

h1,
footer > h2 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  margin: 0px;
  @include desktop-only {
    font-size: 4vw;
  }
}

h2 {
  margin: 0px;
}
