/*Here we handle the spin loader behavio(u)r:
i've used two classes so far, 
- .loadScreen being printed on top of everything and using up all the space available in the viewport.btn-explore
- .loader-container is the style of the div containing the spinloader, using a square of 20% of the available width in the viewport.

The loadscreen disappears after 3 seconds on a short fade out effect obtained by manipulating opacity, revealing the homepage*/

.load-screen {
  /*display: flex;*/
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $color-background-primary;
  z-index: $maximum-index;
  animation: hide-load-screen;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loader-spinner {
  @include loader-element;
  border-top: 2vh solid $color-secondary;
  border-bottom: 2vh solid $color-tertiary;
  border-left: 2vh solid white;
  border-right: 2vh solid white;
  animation: spin 2s ease-in-out;
  animation-fill-mode: forwards;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
}

.loader-label {
  @include loader-element;
  display: flex;
  border-radius: 50%;
  border: 2vh solid transparent;
  width: 20vh;
  height: 20vh;
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 3vh;
  background-color: transparent;
  p {
    margin: auto;
    opacity: 0;
    animation: fade-in-rotate 2.2s;
    animation-fill-mode: forwards;
  }
}
