@mixin display-flex-column-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@mixin display-flex-row-center {
  display: flex;
  justify-content: center;
  width: 100vw;
}

@mixin display-flex-row-start-padding-left {
  display: flex;
  justify-content: start;
  width: 100vw;
  padding-left: 2 * $font-size-regular;
}

@mixin section-padding-standard {
  padding: $font-size-regular * 2 $font-size-regular * 2 $font-size-regular * 2
    $font-size-regular * 2;
}

@mixin h2-flex-start-bold {
  display: flex;
  align-self: flex-start;
  font-family: "Roboto-Bold";
}

@mixin loader-element {
  position: absolute;
  box-sizing: content-box;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36vh;
  margin-bottom: auto;
}
