$color-primary: rgb(147, 86, 220);
$color-secondary: rgb(255, 121, 218);
$color-tertiary: #99e2d0;
$background-color-primary: rgb(249, 249, 249);
$color-text: black;
$color-button-text: white;

$font-size-regular: 4vw;
$section-title-margin: $font-size-regular * 2;

$maximum-index: 99;
$medium-index: 50;
$minimum-index: 1;
